<!DOCTYPE html>
<html namespace-uri="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worker</title>
   <link rel = "stylesheet" type="text/css" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css ">
</head>

<body>
    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="fs-4">Web-Employer</span> </a>

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/">Main</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/workers">Workers</a>
                </nav>
            </div>
        </header>

        <table class="table table-bordered"  style = "margin-left: auto; margin-right: auto">
            <thead class="table-header" style="background-color: orange; border: 4px chartreuse">
                <tr>
                    <th>LastName</th>
                    <th>Name</th>
                    <th>Patronimic</th>
                    <th>Salary</th>
                    <th>Total salary</th>
                    <th>My employer</th>
                </tr>
            </thead>

            <tbody style="border: 4px #18c4e3">
                <tr th:each="wr : ${srcWrk}">
                    <td th:text="${wr.lastName}"></td>
                    <td th:text="${wr.firstName}"></td>
                    <td th:text="${wr.patronimic}"></td>
                    <td th:text="${wr.salary}"></td>
                    <td th:text="${wr.totalEarn}"></td>
                    <td th:text="${wr.employer.getLastName()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>